/*Hola :3 clase lleva punto y la id lleva #, asterisco * es un selector universal*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: wheat;
    font-family: "Andika", sans-serif;
}

.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    color: brown;
    text-align: center;
    margin: 20px 0;
}

main {
    /* Mantener las tarjetas horizontales */
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre las tarjetas */
    flex-wrap: wrap; 
    padding: 20px; /* Espacio alrededor del contenedor */
    gap: 20px; /* Separación adicional si es necesario */
    overflow-x: auto; /* Permitir desplazamiento horizontal si no caben */
}

.tarjeta {
    width: 320px;
    background-color: antiquewhite;
    border-radius: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding-left: 14px;
    padding: 12px;
    border: 3px solid blue;
    transition: all 0.4s ease-in-out; /*Transicion suave*/
    }

.titulo-tarjeta{
    margin-bottom: 10px;
}
.tarjeta:hover {
    transform: rotate(-5deg); /* Inclina la tarjeta hacia la izquierda */
    background-color: lightblue; /* Cambia el color de fondo a azul pálido */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Agrega una sombra al pasar el cursor */
}

.tarjeta .caja-contenedora {
    width: 200px;
}

.tarjeta .imagen {
    width: 200px;
    display: flex;
}

.tarjeta img {
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
    background-color: aliceblue;
    width: 150px;
    height: 150px;
}

.tarjeta p {
    color: brown;
    font-size: 20px;
}

#gato {
    color: darkred;
}

#perro {
    color: blue;
}
